.cards__item {
    border: 2px solid var(--news-background-color);
    padding: 5px;
  }
  
  @media (min-width: 300px) {
    .call-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
    }
  }
  