@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

:root {
    --features-title: #c7a17a;
    --features-font-family: 'Satisfy', cursive;
    --remember-font-family: 'Bebas Neue', cursive;
    --faq-font-family: 'Bebas Neue', sans-serif;
    --remember-text-font-family: 'Roboto', sans-serif;
    --remember-color-item-description: #828282;
    --remember-satisfy-font-family: 'Satisfy', cursive;
    --remember-subtext: #5b5b5b;
    --article-text: #828282;
    --article-title: #c7a17a;
    --news-background-color: #f2f0ec;
    --contacts-background-color: #27292b;
    --faq-background-color: rgba(39, 41, 43, 0.9);
    --logo-social: #ffff;
    --forma-background-color: #2e3032;
    --contact-text-color: #e1e0e0;
    --circle-remember: rgb(242, 240, 236);
    --header-p-color: #e6e6e6;
    --header-nav-color: #faf6f2;

    --course-text-color: #9f9f9f;
    scroll-behavior: smooth;
    font-size: 17px;
    --feedbacks-title: #dba17a;
    --feedbacks-ocupation: #27292bcc;

    --contacts-form-background-color: rgba(255, 255, 255, 0.01);
    --contacts-form-text-color: #fff;
    --contacts-button-color: #c7a17a;
    --contacts-info-text-color: rgb(225, 224, 224);
    --footer-menu-color: rgb(225, 224, 224);
    --footer-social-icon-color: rgb(199, 161, 122);
    --footer-createdby-color: white;
}

img {
    display: block;
    width: 100%;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
}