:root {
    --title-color:#fff;
    --description-color: #e1e0e0;
    --decoration-color: #c8a17a;
}

.pricing {
    background-color: var(--contacts-background-color);
}

.pricing__subtitle {
    color: var(--decoration-color);
    font-family: var(--features-font-family);
}

.pricing__title {
    color: var(--title-color);
}

.pricing__devision {
    color: var(--decoration-color);
}

.pricing__description {
    color:var(--description-color);
}

/* .pricing__articles {

} */

/* .pricing__article {

} */

.article__title {
    color: var(--description-color);
}

.article__price-duration {
    color: var(--decoration-color);
}

.article__offer-list {
    color: var(--description-color);
}

.article__button {
    background-color: var(--decoration-color);
}