.contacts {
  background-color: var(--contacts-background-color);
}

.contacts__top {
  position: relative;
  height: 65px;
}

.contacts__image-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  background-color: var(--news-background-color);
}

.contacts__map-form-inner {
  display: flex;
  padding: 32px;
}

.contacts__map-container {
  flex: 60%;
  padding-left: 15px;
  padding-right: 15px;
  height: 600px;
  margin: 0;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

#form-buttom {
  background-color: var(--contacts-button-color);
  height: 46px;
  margin-top: 40px;
}

.contacts__form input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: var(--contacts-form-background-color);
  color: var(--contacts-form-text-color);
  border-width: 0;
}

.contacts__form-container {
  flex: 40%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--forma-background-color);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 765px) {
  .contacts__map-form-inner {
    flex-direction: column;
    padding: 24px;
  }

  .contacts__form-container {
    flex: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contacts__map-container {
    height: 600px;
    flex: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.contacts__intro {
  color: var(--features-title);
  font-family: var(--features-font-family);
  font-size: 26px;
}

.contacts__header {
  font-family: var(--remember-font-family);
  font-size: 58px;
  color: var(--logo-social);
  font-weight: 400;
  font-stretch: 100%;
}

@media (max-width: 980px) {
  .contacts__header {
    font-size: 48px;
  }
}

@media (max-width: 765px) {
  .contacts__header {
    font-size: 38px;
  }
}

#map-frame {
  border: 0;
  /*filter: invert(1);*/
}

.contacts__form-element {
  margin: 12px 0px 0px 0px;
  padding: 15px 26px;
}

.contacts__small-icon-svg-path {
  fill: var(--features-title);
}

.contacts__pair-email-link,
.contacts__pair-phone-link {
  font-family: var(--remember-text-font-family);
  text-decoration: none;
  color: var(--contact-text-color);
}

.contacts__pair-email-link:hover,
.contacts__pair-phone-link:hover {
  text-decoration: underline;
  color: var(--contact-text-color);
}

.contacts__info-inner {
  padding: 25px;
}

.contacts__info-inner ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*align-items: flex-start;*/
  padding: 0;
  list-style: none;
}

.contacts__info-inner li {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

@media (max-width: 765px) {
  .contacts__info-inner li {
    flex-basis: 100%;
  }
}

.contacts__container-for-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*align-items: center;*/
}

.contacts__container-for-item-icon {
  display: flex;
  /*align-items: flex-start;*/
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.contacts__container-for-item-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.contacts__medium-icon-svg-path {
  fill: var(--features-title);
}

.contacts__item-header {
  font-family: var(--remember-font-family);
  color: var(--logo-social);
  font-size: 28px;
  font-weight: 400;
  font-stretch: 100%;
}

.contacts__container-phone {
  display: flex;
  flex-direction: row;
}

.contacts__item-text {
  font-family: var(--remember-text-font-family);
  color: var(--contacts-info-text-color);
  font-stretch: 100%;
}

@media (max-width: 765px) {
  .contacts__item-header {
    font-size: 24px;
  }
}