.recipes__title {
 font-family: var(--features-font-family);
 font-size: 26px;
 color: var(--features-title);
}

.recipes__subtitle {
 font-family: var(--remember-font-family);
 font-size: 48px;
}

.recipes__description {
 font-family: var(--remember-text-font-family);
 font-size: 19px;
}

.recipes__text {
 font-family: var(--remember-text-font-family);
 font-size: 17px;
} 

.latte__title {
    font-family: var(--remember-text-font-family);
    font-size: 28px;
    color: #e6e6e6;
}

.dessert__title {
    font-family: var(--remember-text-font-family);
    font-size: 28px;
    color: #e6e6e6;
}

.latte__text {
    font-family: var(--remember-text-font-family);
    font-size: 17px;
    color: #e6e6e6;
}

.dessert__text {
    font-family: var(--remember-text-font-family);
    font-size: 17px;
    color: #e6e6e6;
}

.latte {
    background-image: url(../img/latte.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.dessert {
    background-image: url(../img/dessert.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.recipes__list {
    margin: 20px;
    padding: 20px;
    background-color: var(--features-title);
    min-height: 400px;
}