.recipes__title {
    font-family: var(--features-font-family);
    font-size: 26px;
    color: var(--features-title);
  }
  
  .recipes__subtitle {
    font-family: var(--remember-font-family);
    font-size: 48px;
  }
  
  .recipes__description {
    font-family: var(--remember-text-font-family);
    font-size: 19px;
  }
  
  .recipes__text {
    font-family: var(--remember-text-font-family);
    font-size: 17px;
  } 
  
  .latte__title {
    font-family: var(--remember-font-family);
    font-size: 28px;
    color: #e6e6e6;
  }
  
  .dessert__title {
    font-family: var(--remember-font-family);
    font-size: 28px;
    color: #e6e6e6;
  }
  
  .latte__text {
    padding: 35px;
    font-family: var(--remember-text-font-family);
    font-size: 17px;
    color: #e6e6e6;
  }
  
  .dessert__text {
    padding: 35px;
    font-family: var(--remember-text-font-family);
    font-size: 17px;
    color: #e6e6e6;
  }

  .divider-line {
    height: 3px;
    width: 3%;
    background-color: var(--features-title);
    margin-left: auto;
    margin-right: auto;
  }
  
  .latte {
    background-image: linear-gradient(rgba(37, 37, 37, 0.856), rgba(32, 32, 32, 0.856)), url(../img/latte.png);
    background-size: cover;
    background-position: center;
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 337px;
    height: auto;
  }
  
  .dessert {
    background: linear-gradient(rgba(37, 37, 37, 0.856), rgba(32, 32, 32, 0.856)), url(../img/dessert.png);
    background-size: cover;
    background-position: center;
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 337px;
    height: auto;
  }
  
  .recipes__list {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 30px;
  }
  
  .basic__recipes {
    background-color: var(--news-background-color);
  }

  .button__recipes {
    color: #e6e6e6;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--article-title);
    border: 1px solid #black;
  }
  
  @media (min-width: 767px) {
    .recipes__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
    }
  }

  
  