.recipes__title {
 font-family: var(--features-font-family);
 font-size: 26px;
 color: var(--features-title);
}

.recipes__subtitle {
 font-family: var(--remember-font-family);
 font-size: 48px;
}

.recipes__description {
 font-family: var(--remember-text-font-family);
 font-size: 19px;
}

.recipes__text {
 font-family: var(--remember-text-font-family);
 font-size: 17px;
} 

.latte__title {
    font-family: var(--remember-text-font-family);
    font-size: 28px;
}

.dessert__title {
    font-family: var(--remember-text-font-family);
    font-size: 28px;
}

.latte__text {
    font-family: var(--remember-text-font-family);
    font-size: 17px;
}

.dessert__text {
    font-family: var(--remember-text-font-family);
    font-size: 17px;
}

.latte {
    background-image: url(../img/latte.png);
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
    height: 403px;
}

.dessert {
    background-image: url(../img/dessert.png);
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
}