.faq {
    position: relative;
    background: url(../img/faq_background.png) 51.25% 32.81% / cover no-repeat fixed;
}

.faq-inner {
    padding: 140px 0;

    background-color: var(--faq-background-color);
}

.faq-content {
    padding: 0 40px;

    display: flex;
    gap: 15%;
    justify-content: space-between;
}

.faq-about {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.faq-cases {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.faq-uptitle {
    font-family: var(--features-font-family);
    font-size: 1.5rem;
    color: var(--article-title);
}

.faq-title {
    font-family: var(--faq-font-family);
    font-size: 3.6rem;
    color: var(--logo-social);

    position: relative;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.faq-title::after {
    position: absolute;
    display: block;
    content: "";
    top: 105%;
    left: 0;
    z-index: 1;

    height: 0.2rem;
    width: 10%;
    background-color: var(--article-title);
}

.faq-about-courses-text-bold {
    font-family: var(--remember-text-font-family);
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--logo-social);
}

.faq-about-courses-text {
    font-family: var(--remember-text-font-family);
    font-size: 1rem;
    color: var(--contact-text-color);

    margin: 25px 0;
}

.faq-key-links {
    display: flex;
    gap: 1rem;
}

.faq-course-button {
    font-family: var(--remember-text-font-family);
    font-size: 0.9rem;
    color: var(--logo-social);

    border: 1px solid var(--article-title);
    background: var(--article-title);
    padding: 0.7rem 1.2rem;

    transition: color .2s linear, background .2s linear, border .2s linear;
}

.faq-course-button:hover {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #000000;
    text-decoration: none;
}


.faq-contact-button {
    font-family: var(--remember-text-font-family);
    font-size: 0.9rem;
    color: var(--article-title);
    
    border: 1px solid var(--article-title);
    padding: 0.7rem 1.2rem;
    
    transition: color .2s linear, background .2s linear;
}

.faq-contact-button:hover {
    background: var(--article-title);
    color: #ffffff;
    text-decoration: none;
}

/* .faq-case-content {

} */

.faq-case-questions {
    font-family: var(--faq-font-family);
    color: var(--logo-social);
}

.faq-case-answers {
    font-family: var(--remember-text-font-family);
    color: var(--contact-text-color);
}


@media screen and (max-width: 760px) {
    .faq-content {
        padding: 0 40px;
    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}