.footer {
    background-color: var(--contacts-background-color);
}

.footer__inner-logo-menu-link {
    display: flex;
    padding: 32px;
}

.footer__logo {
    flex: 33%;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__menu {
    flex: 33%;
    padding-left: 15px;
    padding-right: 15px;
}

.footer__container-link {
    flex: 33%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 765px) {
    .footer__inner-logo-menu-link {
        flex-direction: column;
        padding: 24px;
    }

    .footer__logo,
    .footer__menu,
    .footer__container-link {
        flex: auto;
    }
}