.contacts {
    background-color: var(--contacts-background-color);
}

.contacts__top {
    position: relative;
    height: 65px; /* Замініть це значення на бажану фіксовану висоту */
}

.contacts__image-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--news-background-color);
}