.master-coffee__block_title {
    color: var(--features-title);
    font-family: var(--features-font-family);
}
.master-coffee__title {
    color: black;
    font-family: var(--remember-font-family);
}
.master-coffee__subtitle {
    color:var(--remember-subtext);
    font-family: var(--remember-text-font-family);
}
.master-coffee__text  {

    color: var(--article-text);
    font-family: var(--remember-text-font-family);

}
.master-coffee__new-york_title {
    color: black;
    font-family: var(--remember-font-family);

.divider-component_master-coffee_divider {
    height: 3px;
    width: 3%;
    background-color: var(--features-title);
    margin-left: auto;
    margin-right: auto;
}
}
.master-coffee__new-york_text {
    color:var(--article-text) ;
    font-family: var(--remember-text-font-family);
}
.buttom_lear-more {
    color: white;
    font-family: var(--remember-subtext);
    background-color: var(--features-title);
}