.offers-course {
    text-align: center;
    background-color: var(--news-background-color)
}

.block-name {
    color: var(--features-title);
    font-family: var(--features-font-family);
}

.header-name {
    font-family: var(--remember-font-family);
}

.sign-up-course {
    color: var(--remember-subtext);
}

.offers-course {
    overflow: hidden;
    position: relative;
  }
  
  .course-section {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .courses-offers-sign-up {
    flex: 0 0 100%;
  }
  
  /*.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-buttons button {
    background: transparent;
    border: none;
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .carousel-buttons .next {
    right: 10px;
  }
  
  .carousel-buttons .prev {
    left: 10px;
  }*/
  

