.offers-course {
    padding-top: 90px;
    padding-bottom: 150px;
    text-align: center;
    background-color: var(--news-background-color);
    background-image: url("../img/index.offers/end-block.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.block-name {
    color: var(--features-title);
    font-family: var(--features-font-family);
}

.header-name {
    font-family: var(--remember-font-family);
}

.sign-up-course {
    color: var(--remember-subtext);
    font-family: var(--remember-text-font-family);
}

.courses-offers-sign-up {
  margin-bottom: 20px;
}

.course-section {
  font-family: var(--remember-font-family);
  text-align: left;
}

.latte-img {
  width: 70%;
  text-align: center;
}

.course-title {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.days-money-places-text {
  margin-top: 20px;
  color: rgb(91,91,91);
  font-family: var(--remember-text-font-family);
  padding-left: 50px;
  padding-right: 50px;
}

.course-text {
  margin-top: 20px;
  color: rgb(159,159,159);
  font-family: var(--remember-text-font-family);
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

.sign-up-of-course {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}
/*карусель в процесі...*/



