.offers-course {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: var(--news-background-color);
    background-image: url("../img/index.offers/end-block.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.block-name {
    color: var(--features-title);
    font-family: var(--features-font-family);
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 15px;
}

.header-name {
    font-family: var(--remember-font-family);
    font-size: 3.5rem;
    font-weight: normal;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) { 
  .header-name {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-name {
    font-size: 3rem;
  }
}

.course-dash {
  height: 3px;
  width: 5%;
  background-color: var(--features-title);
  margin-left: auto;
  margin-right: auto;
}

.sign-up-course {
    color: var(--remember-subtext);
    font-family: var(--remember-text-font-family);
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

.course-section {
  padding: 7.5px;
  font-family: var(--remember-font-family);
  text-align: center;
}

.courses-offers-sign-up {
  margin-bottom: 20px;
  text-align: center;
}

.course-title {
  text-align: left;
  font-size: 24px;
  margin-top: 20px;
  padding-left: 20px;
  font-weight: normal;
}

.courses-container-img {
  margin-left: 20px;   
  margin-right: 20px;  
}

.information-about-course {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.days,
.money,
.places {
  margin-left: 20px;
}

.information-about-course > div {
  display: flex;
  align-items: center;
}

.days-money-places-text {
  margin-top: 20px;
  color: var(--remember-subtext);
  font-family: var(--remember-text-font-family);
}

.course-text {
  margin-top: 20px;
  color: var(--course-text-color);
  font-family: var(--remember-text-font-family);
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.sign-up-of-course {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
}

.courses-offers-sign-up {
  display: none;
}
.courses-offers-sign-up:first-child {
  display: block;
}

.prev-button-course,
.next-button-course {
  background: none;
    border: none;
    color: #333;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
}

.prev-button-course {
    left: 10px;
}

.next-button-course {
    right: 10px;
}

