<section class="features">
    <p class="features__title">Features</p>
    <h2 class="features__subtitle">REMEMBER THIS</h2>
    <p class="features__description">A few things you should know about coffee making.</p>
    <ul class="features__list">
        <li class="features__item">
            <div class="features__icon">
                <img class="features__icon-image" width="26" src="img/professional-equipment.svg" alt="Professional equipment img">
            </div>
            PROFESSIONAL EQUIPMENT
            Without a good espresso machine, you won't get delicious coffee.
        </li>
        <li class="features__item">
            <div class="features__icon">
                <img class="features__icon-image" width="26" src="img/experienced-baristas.svg" alt="Experienced baristas img">
            </div>
            EXPERIENCED BARISTAS
            The ability to make truly delicious coffee comes with experience and hours of training.
        </li>
        <li class="features__item">
            <div class="features__icon">
                <img class="features__icon-image" width="26" src="img/classic-drinks.svg" alt="Classic drinks">
            </div>
            Classic Drinks are the Basis
            First, you should learn how to make good espresso and then continue with other drinks.
        </li>
    </ul>
    <div class="features__image">
        <img class="features__image-element" width="388.11" src="img/making-tea-coffee.png" alt="Making tea coffee">
    </div>
</section>





<!--
<section>
    
    <p>Features</p>
    <h2>REMEMBER THIS</h2>
    <p>A few things you should know about coffee making.</p>
    <ul>
        <div>
            <img width="26" src="img/professional-equipment.svg" alt="Professional equipment img">
        </div>
        <li>
            PROFESSIONAL EQUIPMENT
            Without a good espresso machine, you won't get delicious coffee.
        </li>
        <div>
            <img width="26" src="img/experienced-baristas.svg" alt="Experienced baristas img">
        </div>
        <li>
            EXPERIENCED BARISTAS
            The ability to make truly delicious coffee comes with experience and hours of training.
        </li>
        <div>
            <img width="26" src="img/classic-drinks.svg" alt="Classic drinks">
        </div>
        <li>
            Classic Drinks are the Basis
            First, you should learn how to make good espresso and then continue with other drinks.
        </li>

    </ul>
    <div>
        <img width="388.11" src="img/making-tea-coffee.png" alt="Making tea coffee">
    </div>

</section>
-->