<section class="features">
    <img class="features__top-line" src="img/top-remember-block.svg" alt="Top line">

    <div class="features__content">
        <div class="features__info">
            <p class="features__title">Features</p>
            <h2 class="features__subtitle">Remember this</h2>
            <div class="divider-component divider-component_1aY" id="emphasis"></div>
            <p class="features__description">A few things you should know about coffee making.</p>
            <div class="features__list-wrapper">
                <ul class="features__list">
                    <li class="features__item">
                        <div class="features__icon">
                            <div class="features__icon-container">
                                <div class="under-circle"></div>
                                <img class="features__icon-image" src="img/professional-equipment.svg"
                                    alt="Professional equipment img">
                            </div>
                            <div class="features__text">
                                <div class="features__item-title">
                                    <p>Professional equipment</p>
                                </div>
                                <div class="features__item-description">
                                    <p>Without a good espresso machine, you won't get delicious coffee.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="features__item">
                        <div class="features__icon">
                            <div class="features__icon-container">
                                <div class="under-circle"></div>
                                <img class="features__icon-image" width="26" src="img/experienced-baristas.svg"
                                    alt="Experienced baristas img">
                            </div>
                            <div class="features__text">
                                <div class="features__item-title">
                                    <p>Experienced baristas</p>
                                </div>
                                <div class="features__item-description">
                                    <p>The ability to make truly delicious coffee comes with experience and hours of
                                        training.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="features__item">
                        <div class="features__icon">
                            <div class="features__icon-container">
                                <div class="under-circle"></div>
                                <img class="features__icon-image" width="26" src="img/classic-drinks.svg"
                                    alt="Classic drinks">
                            </div>
                            <div class="features__text">
                                <div class="features__item-title">
                                    <p>Classic drinks are the basis</p>
                                </div>
                                <div class="features__item-description">
                                    <p>First, you should learn how to make good espresso and then continue with other
                                        drinks.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="features__image-container">
            <div class="features__image">
                <div class="features__image-wrapper">
                    <img class="features__image-element" src="img/making-tea-coffee.png" alt="Making tea coffee">
                </div>
                <div class="features__background-wrapper">
                    <img class="features__background" src="img/backgroung_remember.webp" alt="Background for barista">
                </div>
            </div>
        </div>
    </div>
</section>