<section>
    <h3 class="pricing__subtitle">Pricing</h3>
    <h2 class="pricing__title">Our Pricing Plans</h2>
    <div class="pricing__devision"></div>
    <p class="pricing__description">
        Learn more about the price and program of each course we offer.
    </p>

    <div class="pricing__articles">
        <article pricing__article article article-one >
            <h4 class="article__title">Coffee like a pro at home</h4>
            <p class="article__price-duration">$150 | 5 days</p>
            <ul class="article__offer-list">
                <li>For beginners;</li>
                <li>Classic recipies;</li>
                <li>Secret tips;</li>
                <li>Making lush milk foam;</li>
                <li>10 hours of training</li>
            </ul>
            <a href="partials/index.contacts.partial.html" class="article__button">Seclect course</a>
        </article>

        <article pricing__article article article-two >
            <h4 class="article__title">Barista license course</h4>
            <p class="article__price-duration">$365 | 23 days</p>
            <ul class="article__offer-list">
                <li>For beginners;</li>
                <li>50+ hours of training;</li>
                <li>Classic drinks;</li>
                <li>Internship is included;</li>
                <li>A certificate is issued.</li>
            </ul>
            <a href="partials/index.contacts.partial.html" class="article__button">Seclect course</a>
        </article>

        <article pricing__article article article-three >
            <h4 class="article__title">Latte art course</h4>
            <p class="article__price-duration">$150 | 5 days</p>
            <ul class="article__offer-list">
                <li>For all coffee fans;</li>
                <li>Offline lessons only;</li>
                <li>All matterials included;</li>
                <li>8 hours of training;</li>
                <li>Easy to repeat at home.</li>
            </ul>
            <a href="partials/index.contacts.partial.html" class="article__button">Seclect course</a>
        </article>

        <article pricing__article article article-four >
            <h4 class="article__title">advanced barista course</h4>
            <p class="article__price-duration">$350 | 14 days</p>
            <ul class="article__offer-list">
                <li>For professionals;</li>
                <li>Online and offline;</li>
                <li>Professional equipment;</li>
                <li>Coffee roasting details;</li>
                <li>Alternative brewing.</li>
            </ul>
            <a href="partials/index.contacts.partial.html" class="article__button">Seclect course</a>
        </article>

        
    </div>
</section>