
<section class="recipes container">
  <div class="recipes">
    <p class="recipes__title">Recipes</p>
    <h2 class="recipes__subtitle">Our favorite coffee recipes</h2>
    <h3 class="recipes__description">Want to try something new? Explore our coffee and dessert recipes.</h3>
    <p class="recipes__text">The coffee-making industry is constantly evolving, and baristas come up with new recipes.</p>
    <p class="recipes__text">If you are bored with classic lattes and cappuccinos, browse this section.</p>
  </div>
  <div class="recipes__list">
    <section class="latte">
      <p class="latte__title">COLD LATTE</p>
      <p class="latte__text">To make the number one summer coffee, mix espresso, milk, syrup, and ice cubes. Blend everything until it looks like a one-piece liquid. Pour the mix into glasses and decorate the glass with whipped cream.</p>
      <a href="#" class="latte__link">Open</a>
    </section>
    <section class="dessert">
      <p class="dessert__title">CHEESE DESSERT</p>
      <p class="dessert__text">Boil milk, add coffee and sugar. Mix it and cool it down. Put cottage cheese in a bowl, add cold coffee, and whip it. Malt some peanuts and add them to the cheese-coffee bowl. Then, mix it and serve on small plates.</p>
      <a href="#" class="dessert__link">Open</a>
    </section>
  </div>
 </section>