<section class="news">
    <div class="news__header container">
        <p class="news__title">BlogUpdate</p>
        <h2 class="news__subtitle">READ OUR LATEST NEWS AND ARTICLES</h2>
        <div class="news__title-component-wrapper">
            <div  class="news__title-component"></div>
        </div>
        <p class="news__description">Dive into the modern coffee culture with us!</p>
    </div>
    
    <article class="news__article container">
        <div class="news__image">
            <img class="news__image" src="img/index.news/coffee-brewing.png" alt="coffee-brewing">
        </div>
        <p class="news__article-date">Cases | August 22, 2022</p>
        <h3 class="news__article-title">
            <a href="#">HOW POUR OVER CHANGED THE CONCEPT OF A COFFE BAR</a>
        </h3>
        <div class="news__article-content-wrapper">
            <p class="news__article-content">
                Pour over, hario, and v60 are the names for the same way of making coffee. 
                The method became popular only in 2010, after the publication of an article 
                about it in The New York Times, and was invented almost a hundred years before that.
            </p>
            <p class="news__article-content">
                Making pour-over coffee is a real ritual, which is called the "coffee ceremony", 
                however, this ritual can be mastered quite easily, and its result will be unmistakably 
                tasty. So, let's see how to master this brewing method and why it is so popular nowadays 
                in the USA and around the world.
            </p>
        </div>
    </article>
    <article class="news__article container">
        <div class="news__article-container">
            <div class="news__article-image-wrapper">
                <img class="news__article-image" src="img/index.news/cup-of-coffee.png" alt="cup-of-coffee">
            </div>
            <div class="news__article-container-wrapper">
                <p class="news__date">Coffee trends | May 22, 2022</p>
                <h3 class="news__article-title">
                <a href="#">WHAT'S UP WITH FLAT WHITE</a>
                </h3>
                <p class="news__article-content">
                    Remember the time when flat white suddenly appeared in all trendy coffee shops and 
                    became the most popular drink? But who orders it now? Almost nobody...
                </p>
            </div>
        </div>
        <div class="news__article-container">
            <div class="news__article-image-wrapper">
                <img class="news__article-image" src="img/index.news/barista.png" alt="barista">
            </div>
            <div class="news__article-container-wrapper">
                <p class="news__date">Coffee trends | October 03, 2022</p>
                <h3 class="news__article-title">
                <a href="#">TOP WINTER COFFEE DRINKS</a>
                </h3>
                <p class="news__article-content">
                    A few more weeks, and it will get really cold outside. It's time to put together a 
                    winter menu and prepare some new hot drinks for your customers with our top recipes...
                </p>
            </div>
        </div>
        <div class="news__article-container">
            <div class="news__article-image-wrapper">
                <img class="news__article-image" src="img/index.news/latte.png" alt="latte">
            </div>    
                <div class="news__article-container-wrapper">
                    <p class="news__date">Infographics | October 12, 2022</p>
                    <h3 class="news__article-title">
                    <a href="#">HOW TO PLEASE ANY TASTE</a>
                    </h3>
                    <p class="news__article-content">
                    Coffee lovers have their own preferences. Someone likes strong coffee while someone 
                    adds a lot of milk. Someone prefers Arabica, and others love Robusta most of all...
                    </p>
            </div>
        </div>
    </article>
</section>