
<section class="offers-course">
    <header class="header-offers-courses container">
        <h3 class="block-name">Course</h3>
        <h2 class="header-name">MAKE COFFEE LIKE A PRO</h2>
        <span class="dash">___</span>
        <p class="sign-up-course">Sign up for one of our professional courses.</p>
    </header>
    <div class="course-section container">
        <div class="courses-offers-sign-up"><!-- Курс 1 -->
            <img class="latte-img" width="190.5" src="img/index.offers/latte-course.png" alt="latte art">
            <h3 class="course-title">LATTE ART COURSE</h3>
            <div class="information-about-course">
                <div class="days">
                    <p class="days-money-places-text">
                        5 days
                    </p>
                </div>
                <div class="money">
                    <p class="days-money-places-text">
                        $150
                    </p>
                </div>
                <div class="places">
                    <p class="days-money-places-text">
                        5-10
                    </p>
                </div>
            </div>
            <p class="course-text">
                Turn each coffee you make into a masterpiece with our Latte Art Course.
                You will learn how to draw beautiful pictures on the foam, from simple leaves
                and hearts to much more complicated designs.
            </p>
            <button class="sign-up-of-course">Sign Up</button>
        </div>
        <div class="courses-offers-sign-up"><!-- Курс 2 -->
            <img class="latte-img" src="img/index.offers/barista-course.png" alt="barista art">
            <h3 class="course-title">BARISTA LICENSE COURSE</h3>
            <div class="information-about-course">
                <div class="days">
                    <p class="days-money-places-text">
                        23 days
                    </p>
                </div>
                <div class="money">
                    <p class="days-money-places-text">
                        $356
                    </p>
                </div>
                <div class="places">
                    <p class="days-money-places-text">
                        5-10
                    </p>
                </div>
            </div>
            <p class="course-text">
                If you feel that you have to be the one making wholesome coffee,
                this crash course will give you the basics of working with a coffee machine, 
                barista's responsibilities, and a tour around the kitchen.
            </p>
            <button class="sign-up-of-course">Sign Up</button>
        </div>
        <div class="courses-offers-sign-up"><!-- Курс 3 -->
            <img class="latte-img" src="img/index.offers/advanced-barista.png" alt="advanced barista art">
            <h3 class="course-title">ADVANCED BARISTA COURSE</h3>
            <div class="information-about-course">
                <div class="days">
                    <p class="days-money-places-text">
                        14 days
                    </p>
                </div>
                <div class="money">
                    <p class="days-money-places-text">
                        $350
                    </p>
                </div>
                <div class="places">
                    <p class="days-money-places-text">
                        3-7
                    </p>
                </div>
            </div>
            <p class="course-text">
                There is always room for improvement, even if you are an experienced barista. 
                This 2-week course will improve your skills in coffee blending and coffee shop management. 
                It's our best course for professionals.
            </p>
            <button class="sign-up-of-course">Sign Up</button>
        </div>
        <div class="courses-offers-sign-up"><!-- Курс 4 -->
            <img class="latte-img" src="img/index.offers/coffee-like.png" alt="coffee like art">
            <h3 class="course-title">COFFEE LIKE A PRO AT HOME</h3>
            <div class="information-about-course">
                <div class="days">
                    <p class="days-money-places-text">
                        5 days
                    </p>
                </div>
                <div class="money">
                    <p class="days-money-places-text">
                        $150
                    </p>
                </div>
                <div class="places">
                    <p class="days-money-places-text">
                        5-10
                    </p>
                </div>
            </div>
            <p class="course-text">
                If you find yourself asking for too much at coffee shops, try making coffee professionally at home.
                Become a pro coffee maker at home and then invite your friends for a chat to impress them with your coffee.
            </p>
            <button class="sign-up-of-course">Sign Up</button>
        </div>
    </div>
</section>


