<section>
    <article>
        <h3 class="faq-uptitle">FAQ</h3>
    <h2 class="faq-title">About our courses</h2>
    <div class="faq-title-underline"></div>

    <p class="faq-about-courses-text">We run our courses approximately once in 2-3 months, so be sure to apply in advance.

        Our groups consist of 5-10 people on average. Most courses are held offline or online + offline. If you have any questions, 
        please read this section or contact us directly</p>

    <div class="faq-key-links">
        <a href="#pricing-plans">Select a Course</a>
        <a href="#footer">Contact Us</a>
    </div>
    </article>
    
    <article>
        <div class="faq-questions">
            <h3>Who are these courses for?</h3>
            <div class="faq-answers"></div>
        </div>
        <div class="faq-questions">
            <h3>Do I need to buy an espesso machine tu study?</h3>
            <div class="faq-answers"></div>
        </div>
        <div class="faq-questions">
            <h3>Do you new ways of brewing cofee?</h3>
            <div class="faq-answers"></div>
        </div>
        <div class="faq-questions">
            <h3>What if I decide to quite in the middle of the course?</h3>
            <div class="faq-answers"></div>
        </div>
    </article>
</section>