<section class="offers-course">
    <header class="header-offers-courses">
        <span class="block-name">Course</span>
        <h2 class="header-name">MAKE COFFEE LIKE A PRO</h2>
        <span class="dash">___</span>
        <p class="sign-up-course">Sign up for one of our professional courses.</p>
    </header>
    <div class="course-section">
        <div class="courses-offers-sign-up"><!--курс 1-->
            <h2>LATTE ART COURSE</h2>
            <div class="information-about-course">
                <div class="days">
                    <span>
                        5 days
                    </span>
                </div>
                <div class="money">
                    <span>
                        $150
                    </span>
                </div>
                <div class="places">
                    <span>
                        5-10
                    </span>
                </div>
            </div>
            <p>
                Tuen each coffee you make into a masterpiese with our Latte Art Course. 
                You will learm how to draw beautiful pictures on the foam, simple leaves
                and hearts to much more complicated designs
            </p>
            <button class="sign-up-of-course">Sign Up</button>
        </div>
        <div class="courses-offers-sign-up"><!--курс 2-->
            <h2>BARISTA LICENSE COURSE</h2>
            <p>
                If you feel that you have to be the one making wholesome coffee,
                this crash course will give you the basics of working with a coffee machine, 
                barista's responsibilities, and a tour around the kitchen.
            </p>
            <div class="information-about-course">
                <div class="days">
                    <span>
                        23 days
                    </span>
                </div>
                <div class="money">
                    <span>
                        $356
                    </span>
                </div>
                <div class="places">
                    <span>
                        5-10
                    </span>
                </div>
            </div>
            <button class="sign-up-of-course">Sign Up</button>
        </div>
        <div class="courses-offers-sign-up"><!--курс 3-->
            <h2>ADVECED BARISTA COURSE</h2>
            <p>
                There is always space for improvement, even if you are an experienced barista. 
                This 2-week course will improve your skills in coffee blending and coffee shop management. 
                It's our best course for professionals.
            </p>
            <div class="information-about-course">
                <div class="days">
                    <span>
                        14 days
                    </span>
                </div>
                <div class="money">
                    <span>
                        $350
                    </span>
                </div>
                <div class="places">
                    <span>
                        3-7
                    </span>
                </div>
            </div>
            <button class="sign-up-of-course">Sign Up</button>
        </div>
        <div class="courses-offers-sign-up"><!--курс 4-->
            <h2>COFFEE LIKE A PRO AT HOME</h2>
            <p>
                If find yourself asking too much at coffee shops, try making coffee professionally yourself. 
                Become a pro coffee maker at home and then invite your friends for a chat to impress them with your coffee.
            </p>
            <div class="information-about-course">
                <div class="days">
                    <span>
                        5 days
                    </span>
                </div>
                <div class="money">
                    <span>
                        $150
                    </span>
                </div>
                <div class="places">
                    <span>
                        5-10
                    </span>
                </div>
            </div>
            <button class="sign-up-of-course">Sign Up</button>
    </div>
    <!--Добавити <button> для слайдера.
        Добавити CSS.
        Поставити міні блоки <div class="courses-offers-sign-up"> в основному блоку в ряд.
        Поставити міні блоки <div class="information-about-course"> в блоках <div class="courses-offers-sign-up"> в ряд
        Добавити зображення для <div class="courses-offers-sign-up"> і <div class="information-about-course">.
        Залочити <button class="sign-up-of-course">Sign Up</button> до блоку <section class="contacts">
    -->
</section>



