<section>
  <p><i>Team</i></p>
  <h2>MEET OUR TEAM</h2>
  <p>These are our baristas that are going to teach you all the magic:</p>
  <div class="divider-component divider-component_1aY" style="height:3px;width:5%;background-color:#c7a17a"></div>
  <div>
    <article>
      <img width="200" height="200" src="img/team_garry_bee_optimized_1200_c1121x747-4x38.png" alt="Garry Bee">      
    </article>
    <article>
      <em>Coffee guru</em>
      <p>Garry Bee</p>
      <div class="divider-component divider-component_1aY" style="height:1px;width:10%;background-color:#f2f0ec"></div>
      <p>Garry is a real coffee chef and enthusiast. He creates new recipes, which he will share with you during our course. If you want to learn the secrets of making a perfect coffee blend, feel free to ask Garry.</p>
    </article>
  </div>
</section>

  