<section data-include="partials/index.picture-collage">
    <table>
        <tr>
            <td><img src="img/pouring-coffee.png" alt="The kettle pours boiling water"></td>
            <td><img src="img/barista-consultation.png" alt="Barista explaining types of coffee"></td>
            <td><img src="img/coffee-machine.png" alt="Coffee machine pouring coffee"></td>
        </tr>
        <tr>
            <td><img src="img/talking-with-client.png" alt="Talking with client about coffee"></td>
            <td><img src="img/estetic-coffee.png" alt="Coffee looking good"></td>
            <td><img src="img/tasting-competition.png" alt="Coffee tasting competition"></td>
        </tr>
    </table>
</section>