<section class="faq">
    <section class="faq-inner">
        <div class="container">
            <div class="faq-content">
                <article class="faq-about">
                    <h3 class="faq-uptitle">FAQ</h3>
                <h2 class="faq-title">About our courses</h2>
            
                <p class="faq-about-courses-text-bold">We run our courses approximately once in 2-3 months, so be sure to apply in advance.
            
                <p class="faq-about-courses-text">Our groups consist of 5-10 people on average. Most courses are held offline or online + offline. If you have any questions, 
                        please read this section or contact us directly</p>
            
                <div class="faq-key-links">
                        <a class="faq-course-button" href="#">Select a Course</a>
                        <a class="faq-contact-button" href="#">Contact Us</a>
                </div>
                </article>
                
                <article class="faq-cases">
                    <div class="faq-case-content">
                        <div class="faq-case-title">
                            <h3 class="faq-case-questions">Who are these courses for?</h3>
                            <div class="faq-case-icon">
                                <div class="faq-case-icon-inner" id="button"></div>
                            </div>
                        </div>
                        <div class="faq-case-answers" id="answer">We have different courses designed for beginners and professionals. 
                            It all depends on your skills and needs.</div>
                    </div>
                    <div class="faq-case-content">
                        <div class="faq-case-title">
                            <h3 class="faq-case-questions">Do I need to buy an espesso machine tu study?</h3>
                            <div class="faq-case-icon">
                                <div class="faq-case-icon-inner"></div>
                            </div>
                        </div>
                        <div class="faq-case-answers">A good coffee machine is a must for everyone who wants to make delicious coffee. 
                            Still, during the courses, you'll use our equipment, so you don't need to buy anything to study.</div>
                    </div>
                    <div class="faq-case-content">
                        <div class="faq-case-title">
                            <h3 class="faq-case-questions">Do you new ways of brewing cofee?</h3>
                            <div class="faq-case-icon">
                                <div class="faq-case-icon-inner"></div>
                            </div>
                        </div>
                        <div class="faq-case-answers">Yes, you can master new techniques of brewing on our Advanced Barista Course.</div>
                    </div>
                    <div class="faq-case-content">
                        <div class="faq-case-title">
                            <h3 class="faq-case-questions">What if I decide to quite in the middle of the course?</h3>
                            <div class="faq-case-icon">
                                <div class="faq-case-icon-inner"></div>
                            </div>
                        </div>
                        <div class="faq-case-answers">If your plans change before the start of the course, you get your money back. 
                            But, in case of any changes when the course has already started, you can only switch to another course.</div>
                    </div>
                </article>
            </div>
        </div>
    </section>
</section>

