<section>
    <p>Testimonials</p>
    <h2>WHAT OUR STUDENTS SAY</h2>
    <p>We are happy with each review you leave.</p>
<div>
    <div>
        <ul>
          <li>
            <h3>John Jeely</h3>
            <p>Coffee Enthusiast</p>
            <p>“I am the kind of person that can sing odes to coffee. At the course, I learned to make the perfect coffee at home, so now I have no reason to leave it at all. I can't even count how much money I’m saving on coffee-to-go every day!”</p>
            <p>December 15, 2022</p>
        </li>
          <li>
            <h3>Mary Woolen</h3>
            <p>Barista</p>
            <p>“I was so happy to study at CoffeeLab. They know how to work with poor learners and find the best approach to them. Sure, I still have many tricks to learn, but this school gave me basic skills that I use every day at work.”</p>
            <p>March 25, 2022</p>
          </li>
          <li>
            <h3>Lilly Blues</h3>
            <p>Bar Owner</p>
            <p>“It changed the way I'm doing my business. The courses gave me the management basics for my own coffee bar and the community gave the best baristas. Running my coffee place is now such a pleasure.”</p>
            <p>November 12, 2022</p>
          </li>
        </ul>
</article>
</div>
<button>←</button>
<button>→</button>
</section>