<section class="our-team">
  <article>
    <p class="font-text-team"><i>Team</i></p>
    <p class="our-team__title">Meet Our Team</p>
    <div class="divider-component_team__divider"></div>
    <p class="our-team__text">
      These are our baristas that are going to teach you all the magic:
    </p>
  </article>
  <div class="cards-list">
    <article class="cards__item" data-order="1">
      <div class="cards__image-container">
        <img class="cards__image" src="img/team_garry_bee.png" alt="Garry Bee" />
      </div>
    </article>
    <article class="cards__item" data-order="2">
      <div class="bloc__description">
      <em class="cards__role">Coffee guru</em>
      <p class="color_text">Garry Bee</p>
      <div class="divider-component"></div>
      <p class="cards__description">
        Garry is a real coffee chef and enthusiast. He creates new recipes, which he will share with you during our course. If you want to learn the secrets of making a perfect coffee blend, feel free to ask Garry.
      </p>
      </div>
    </article>
    <article class="cards__item" data-order="4">
      <div class="cards__image-container">
        <img class="cards__image" src="img/team_anna_leno.png" alt="Anna Leno" />
      </div>
    </article>
    <article class="cards__item" data-order="3">
      <div class="bloc__description">
      <em class="cards__role">Latte master</em>
      <p class="color_text">Anna Leno</p>
      <div class="divider-component"></div>
      <p class="cards__description">
        Anna is in charge of the aspiring coffee artists. You will learn the different techniques of coffee art, and, through her lessons, you will learn how to make a perfect canvas on the latte foam.
      </p>
      </div>
    </article>
    <article class="cards__item" data-order="5">
      <div class="cards__image-container">
        <img class="cards__image" src="img/team_tomas_hetch.png" alt="Tomas Hetch" />
      </div>
    </article>
    <article class="cards__item" data-order="6" class="bloc__description">
      <div class="bloc__description">
      <em class="cards__role">Owner of a bar</em>
      <p class="color_text">Tomas Hetch</p>
      <div class="divider-component"></div>
      <p class="cards__description">
        Tomas is a veteran bar owner. If you want your coffee place to be a home to your clients, Tomas will teach you how to structure a coffee business from a big ambition to a famous go-to venue.
      </p>
      </div>
    </article>
  </div>
</section>
<section class="background-image">
  <div>
    <img class="under__image" width="300" src="img/team_line_under.svg" alt="line_under" />
  </div>
</section>