<section class="our-team">
  <p class="our-team__subtitles"><i>Team</i></p>
  <h3 class="our-team__titles">MEET OUR TEAM</h3>
  <p class="our-team__text">These are our baristas that are going to teach you all the magic:</p>
  <div class="divider-component divider-component_1a our-team__divider" style="height:3px;width:5%;background-color:#c7a17a"></div>
  <div class="our-team__cards cards">
    <article class="cards__item">
      <div class="cards__image-container">
        <img class="cards__image" width="200" src="img/team_garry_bee.png" alt="Garry Bee">
      </div>
    </article>
    <article>
      <em class="cards__role">Coffee guru</em>
      <p class="cards__name">Garry Bee</p>
      <div class="divider-component divider-component_1aY" style="height:1px;width:10%;background-color:#f2f0ec"></div>
      <p class="cards__description">Garry is a real coffee chef and enthusiast. He creates new recipes, which he will share with you during our course. If you want to learn the secrets of making a perfect coffee blend, feel free to ask Garry.</p>
      <a class="cards__facebook-link" style="width:30;height:30;color:#c7a17a" rel="noopener noreferrer" target="_blank" href="https://facebook.com/">Facebook</a>
      <a class="cards__instagram-link" style="width:30;height:30;color:#c7a17a" rel="noopener noreferrer" target="_blank" href="https://instagram.com/">Instagram</a>
      <a class="cards__youtube-link" style="width:30;height:30;color:#c7a17a" rel="noopener noreferrer" target="_blank" href="https://youtube.com/">YouTube</a>
    </article>
  </div>
</section>
